build
dist
.DS_Store
*.spec
firmware_tmp
bootloader_tmp
part_table_tmp
espefuse
espefuse/__pycache__/__init__.cpython-311.pyc
espefuse/efuse/__pycache__/__init__.cpython-311.pyc
espefuse/efuse/__pycache__/base_fields.cpython-311.pyc
espefuse/efuse/__pycache__/base_operations.cpython-311.pyc
espefuse/efuse/__pycache__/emulate_efuse_controller_base.cpython-311.pyc
espefuse/efuse/__pycache__/mem_definition_base.cpython-311.pyc
espefuse/efuse/__pycache__/util.cpython-311.pyc
espefuse/efuse/esp32/__pycache__/__init__.cpython-311.pyc
espefuse/efuse/esp32/__pycache__/emulate_efuse_controller.cpython-311.pyc
espefuse/efuse/esp32/__pycache__/fields.cpython-311.pyc
espefuse/efuse/esp32/__pycache__/mem_definition.cpython-311.pyc
espefuse/efuse/esp32/__pycache__/operations.cpython-311.pyc
espefuse/efuse/esp32c2/__pycache__/__init__.cpython-311.pyc
espefuse/efuse/esp32c2/__pycache__/emulate_efuse_controller.cpython-311.pyc
espefuse/efuse/esp32c2/__pycache__/fields.cpython-311.pyc
espefuse/efuse/esp32c2/__pycache__/mem_definition.cpython-311.pyc
espefuse/efuse/esp32c2/__pycache__/operations.cpython-311.pyc
espefuse/efuse/esp32c3/__pycache__/__init__.cpython-311.pyc
espefuse/efuse/esp32c3/__pycache__/emulate_efuse_controller.cpython-311.pyc
espefuse/efuse/esp32c3/__pycache__/fields.cpython-311.pyc
espefuse/efuse/esp32c3/__pycache__/mem_definition.cpython-311.pyc
espefuse/efuse/esp32c3/__pycache__/operations.cpython-311.pyc
espefuse/efuse/esp32c6/__pycache__/__init__.cpython-311.pyc
espefuse/efuse/esp32c6/__pycache__/emulate_efuse_controller.cpython-311.pyc
espefuse/efuse/esp32c6/__pycache__/fields.cpython-311.pyc
espefuse/efuse/esp32c6/__pycache__/mem_definition.cpython-311.pyc
espefuse/efuse/esp32c6/__pycache__/operations.cpython-311.pyc
espefuse/efuse/esp32h2/__pycache__/__init__.cpython-311.pyc
espefuse/efuse/esp32h2/__pycache__/emulate_efuse_controller.cpython-311.pyc
espefuse/efuse/esp32h2/__pycache__/fields.cpython-311.pyc
espefuse/efuse/esp32h2/__pycache__/mem_definition.cpython-311.pyc
espefuse/efuse/esp32h2/__pycache__/operations.cpython-311.pyc
espefuse/efuse/esp32h2beta1/__pycache__/__init__.cpython-311.pyc
espefuse/efuse/esp32h2beta1/__pycache__/emulate_efuse_controller.cpython-311.pyc
espefuse/efuse/esp32h2beta1/__pycache__/fields.cpython-311.pyc
espefuse/efuse/esp32h2beta1/__pycache__/mem_definition.cpython-311.pyc
espefuse/efuse/esp32h2beta1/__pycache__/operations.cpython-311.pyc
espefuse/efuse/esp32s2/__pycache__/__init__.cpython-311.pyc
espefuse/efuse/esp32s2/__pycache__/emulate_efuse_controller.cpython-311.pyc
espefuse/efuse/esp32s2/__pycache__/fields.cpython-311.pyc
espefuse/efuse/esp32s2/__pycache__/mem_definition.cpython-311.pyc
espefuse/efuse/esp32s2/__pycache__/operations.cpython-311.pyc
espefuse/efuse/esp32s3/__pycache__/__init__.cpython-311.pyc
espefuse/efuse/esp32s3/__pycache__/emulate_efuse_controller.cpython-311.pyc
espefuse/efuse/esp32s3/__pycache__/fields.cpython-311.pyc
espefuse/efuse/esp32s3/__pycache__/mem_definition.cpython-311.pyc
espefuse/efuse/esp32s3/__pycache__/operations.cpython-311.pyc
espefuse/efuse/esp32s3beta2/__pycache__/__init__.cpython-311.pyc
espefuse/efuse/esp32s3beta2/__pycache__/emulate_efuse_controller.cpython-311.pyc
espefuse/efuse/esp32s3beta2/__pycache__/fields.cpython-311.pyc
espefuse/efuse/esp32s3beta2/__pycache__/mem_definition.cpython-311.pyc
espefuse/efuse/esp32s3beta2/__pycache__/operations.cpython-311.pyc
espsecure/__pycache__/__init__.cpython-311.pyc
esptool/__pycache__/__init__.cpython-311.pyc
esptool/__pycache__/bin_image.cpython-311.pyc
esptool/__pycache__/cmds.cpython-311.pyc
esptool/__pycache__/loader.cpython-311.pyc
esptool/__pycache__/util.cpython-311.pyc
esptool/targets/__pycache__/__init__.cpython-311.pyc
esptool/targets/__pycache__/esp32.cpython-311.pyc
esptool/targets/__pycache__/esp32c2.cpython-311.pyc
esptool/targets/__pycache__/esp32c3.cpython-311.pyc
esptool/targets/__pycache__/esp32c6.cpython-311.pyc
esptool/targets/__pycache__/esp32c6beta.cpython-311.pyc
esptool/targets/__pycache__/esp32h2.cpython-311.pyc
esptool/targets/__pycache__/esp32h2beta1.cpython-311.pyc
esptool/targets/__pycache__/esp32h2beta2.cpython-311.pyc
esptool/targets/__pycache__/esp32s2.cpython-311.pyc
esptool/targets/__pycache__/esp32s3.cpython-311.pyc
esptool/targets/__pycache__/esp32s3beta2.cpython-311.pyc
esptool/targets/__pycache__/esp8266.cpython-311.pyc
config.json